{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin">
    <div id="bgblock" class="item">
        <div class="container" style="height: 560px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center shadow-text" style="margin-top: 85px">
                        <img src="/static/images/logo_imersao.png" style="height: 180px"/>
                        <h2 id="bigsubtitle">{{ settings.SITE_TAGLINE }}</h2>
                        <br>
                        <h3 class="">19 e 20 de março de 2016
                            <h4 class="">Auditório X do ICMC da USP - São Carlos, SP<a href="#"> [como chegar] </a></h4> 
                        <br>
                        <h5><a href="#sobre" style="margin-top: 20px">Saiba mais</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.item-->
</section>

 <section id="sobre">
    <div class="container" style="color: #34495e">
        <div class="row">
            <div class="col-sm-6">
                <h3 style="margin-top: 0px">Sobre o Imersão</h3>
                <p>O Imersão é um evento de Python, Tecnologia da Informação e empreendedorismo voltado para o público feminino que tem por objetivo fomentar a comunidade da cidade e, mais especificamente, trazer conteúdo de tecnologia para mulheres que estudam ou trabalham na área.</p>
                <p>Apesar de ser um evento voltado para o público feminino homens também podem participar, mas as mulheres terão prioridade nas inscrições</p>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top: 0px">PyLadies São Carlos</h3>
                <p> O PyLadies é um grupo internacional com foco em ajudar mulheres a tornarem-se participantes ativas e líderes de comunidades Python. </p>
                <p>O PyLadies São Carlos foi o primeiro grupo criado no estado de São Paulo e conta, atualmente, com estudantes e egressos da UFSCar e USP que querem movimentar a comunidade de tecnologia da cidade.</p>
            </div>
        </div><!--/.row-->
    </div>
</section><!--/#recent-works-->
<section class="emerald" id="inscrevase">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="pull-left">
                            <img src="/static/images/ico/oficina.png" width="64px" style="padding: 0px 5px"/>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><b>Oficina</b> 19 de Março</h3>
                            <p>No sábado será realizado uma oficina grátis para ensinar como desenvolver uma aplicação web usando HTML, CSS, Python e Django. Não é preciso saber programar para poder participar da oficina, pois ela foi feita para iniciantes.</p>
                            <p>*É necessário levar seu próprio notebook.<br>
                               *A oficina possui 40 vagas.</p>
                        </div>
                    </div>
                </div><!--/.col-md-6-->
                <div class="col-md-6">
                    <div class="media">
                        <div class="pull-left">
                            <img src="/static/images/ico/palestras.png" width="64px" style="padding: 0px 5px"/>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><b>Palestras</b> 20 de Março</h3>
                            <p>No domingo serão oferecidas palestras que abordam Python, tecnologia e empreendedorismo.</p>
                        </div>
                    </div>
                </div><!--/.col-md-6-->
            </div><!--/.row-->
            <div class="row text-center" style="margin-top: 20px">
                <a href="#" class="btn btn-lg btn-default">Inscreva-se</a>
            </div>
        </div>
    </section>
<section id="programacao" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2 style="margin-top: 0px">Programação</h2>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <h3>19 de Março</h3>
                        <blockquote id="schedule-block">
                            <table id="schedule" style="font-size: 17px">
                                <tr>
                                    <td><b>13h</b></td>
                                    <td>Abertura</td>
                                </tr>
                                <tr>
                                    <td><b>13h15</b></td>
                                    <td>Começo da Oficina</td>
                                </tr>
                                <tr>
                                    <td><b>15h30</b></td>
                                    <td>Coffee-break</td>
                                </tr>
                                <tr>
                                    <td><b>16h</b></td>
                                    <td>Continuação Oficina</td>
                                </tr>
                                <tr>
                                    <td><b>18h</b></td>
                                    <td>Encerramento</td>
                                </tr>
                            </table>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <h3>20 de Março</h3>
                        <blockquote id="schedule-block">
                            <table id="schedule" style="font-size: 17px">
                                <tr>
                                    <td><b>13h</b></td>
                                    <td>Abertura</td>
                                </tr>
                                <tr>
                                    <td><b>13h15</b></td>
                                    <td>Palestra a definir</td>
                                </tr>
                                <tr>
                                    <td><b>14h</b></td>
                                    <td>Palestra a definir</td>
                                </tr>
                                <tr>
                                    <td><b>14h45</b></td>
                                    <td>Lightning Talks</td>
                                </tr>
                                <tr>
                                    <td><b>15h</b></td>
                                    <td>Coffee-break</td>
                                </tr>
                                <tr>
                                    <td><b>15h45</b></td>
                                    <td>Palestra a definir</td>
                                </tr>
                                <tr>
                                    <td><b>16h30</b></td>
                                    <td>Palestra a definir</td>
                                </tr>
                                <tr>
                                    <td><b>17h30</b></td>
                                    <td>Encerramento</td>
                                </tr>
                            </table>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->
<section id="parceiros" class="wet-asphalt">
	<div class="container">
        <div class="row"><!-- Patrocinio -->
            <div class="col-md-4 col-sm-6">
                <h4></h4>
            </div> <!--/.col-md-4-->
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Apoio</h4>
                <img src="/static/images/logo_godzillahc.png" style="height: 100px"/>
                <img src="/static/images/logo_icmc.png" style="height: 75px"/>
                <img src="/static/images/logo_womenatcomp.png" style="height: 90px"/>
            </div><!--/.col-md-4-->
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Realização</h4>
                <img src="/static/images/logo_pyladies.png" style="height: 115px"/>
            </div><!--/.col-md-4-->
        </div>
    </div>
</section>


{% endblock %}

